.todoC {
    text-decoration: line-through;
}

.todo {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 15%;
    border: solid;
}

.todoButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
