
.newsList{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.newsCard{
    margin-left: 3%;
}
.dark{
    background-color: #343a40 !important;
    color: #adb5bd !important;
}

.todoC {
    text-decoration: line-through;
}

.todo {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
}
.todosContainer{
    margin-top: 2vh;
    margin-bottom:20vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}
.todoButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clockDiv{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    margin: 0 15%;
    
}
.clockTime{
    font-family: 'Press Start 2P', cursive;
}

.shiaImg {
    height: 30vh;
}
.todoTitle{
    width:100%;
    margin-bottom: 2vh;
   
}
.filterSelect {
    width:13%;
}

.todolist{
    height:100vh;
}

.footer {
    height:36vh;
}

.deleteAllcompletebutton{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:530px) {
    .shiaImg {
        height: 10vh;
    }
}